
<section id="<%- jsonName[count].tag %>" class="section section-videos">
    <div class="section-table">
        <div class="section-tabs">
            <div class="row-3 section-tab video-btn-disable-hover">
                <div class="section-tab__table">
                    <div class="section-tab__table-inner">
                        <div class="section-symbol background-config">
                            <img class="section-symbol__logo" src="./img/<%- jsonName[count].sectionLogo %>"
                                 alt="information-image">
                        </div>
                        <h2 class="section__title"><%- jsonName[count].title %></h2>
                        <div class="section__line-container">
                            <div class="section__line-1"></div>
                            <div class="section__line-2"></div>
                        </div>
                        <p class="section__description"><%- jsonName[count].description %></p>
                    </div>
                </div>
            </div>
            <% for (var i in jsonName[count].content){ %>
            <div class="row-3 section-tab video-btn-bg video-btn-pointer"
                 id="<%- jsonName[count].content[i].videoId %>">
                <div class="section-tab__table">
                    <div class="section-tab__table-inner">
                        <div class="section-tab__title"><%- jsonName[count].content[i].title %></div>
                        <div class="section-tab__description"><%- jsonName[count].content[i].description %></div>
                        <div class="section-tab__type"><%- jsonName[count].content[i].type %></div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>
