<section id="<%- site.data.content_cz[1].tag %>" class="section section-request">
    <div class="section-symbol section-symbol--blue">
        <img class="section-symbol__logo" src="./img/<%- site.data.content_cz[1].sectionLogo %>" alt="information-image">
    </div>
    <div class="section-table section-margin">
        <h2 class="section__title white-color"><%- site.data.content_cz[1].title %></h2>
        <div class="section__line-container">
            <div class="section__line-1"></div>
            <div class="section__line-2"></div>
        </div>
        <p class="section__description white-color"><%- site.data.content_cz[1].description %></p>
        <div class="section-tabs">
            <% for (var i in site.data.content_cz[1].content){ %>
            <div class="row-4 section-tab">
                <a href="<%- site.data.content_cz[1].content[i].url1 %>" target="<%- site.data.content_cz[1].content[i].target %>">
                    <div class="section-tab__table">
                        <div class="section-tab__table-inner">
                            <i class="fa <%- site.data.content_cz[1].content[i].logo %> fa-3x section-tab__icon"
                               aria-hidden="true"></i>
                            <div class="section-tab__title"><%- site.data.content_cz[1].content[i].title %></div>
                            <div class="section-tab__spen"></div>
                            <div class="section-tab__description"><%- site.data.content_cz[1].content[i].description %></div>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</section>