
<section id="<%- jsonName[count].tag %>" class="section section-videos">
    <div class="section-table section-margin">
        <div class="section-tabs">
            <div class="section-tab video-btn-disable-hover section-tab__row-header">
                <div class="section-tab__table">
                    <div class="section-tab__table-inner">
                        <div class="section-symbol background-config">
                            <img class="section-symbol__logo" src="./img/<%- jsonName[count].sectionLogo %>"
                                 alt="information-image">
                        </div>
                        <h2 class="section__title"><%- jsonName[count].title %></h2>
                        <div class="section__line-container">
                            <div class="section__line-1"></div>
                            <div class="section__line-2"></div>
                        </div>
                        <p class="section__description"><%- jsonName[count].description %></p>
                    </div>
                </div>
            </div>
            <% for (var i in jsonName[count].content){ %>
            <div class="section-tab video-btn-bg video-btn-pointer section-tab__video-tab" id="<%- jsonName[count].content[i].videoId %>">
                <div class="section-tab__table">
                    <div class="section-tab__table-inner">
                        <h3 class="section-tab__title"><%- jsonName[count].content[i].title %></h3>
                        <div class="section-tab__description"><%- jsonName[count].content[i].description %></div>
                        <div class="section-tab__type"><%- jsonName[count].content[i].type %></div>
                    </div>
                </div>
                <div class="section-tab__play-btn"><i class="fa fa-play section-tab__icon fa-1g" aria-hidden="true"></i><span><%- jsonName[count].videoBtn %></span></div>
            </div>
            <% } %>
        </div>
    </div>
</section>
