<section id="<%- jsonName[count].tag %>" class="section section-external-identity background-config">
    <div class="section-table section-margin">
        <h2 class="section__title white-color"><%- jsonName[count].title %></h2>
        <div class="section__line-container">
            <div class="section__line-1"></div>
            <div class="section__line-2"></div>
        </div>
        <p class="section__description white-color"><%- jsonName[count].description %></p>
        <div class="section-tabs">
            <% for (var i in jsonName[count].content){ %>
            <div class="row-3 section-tab">
                <a href="<%- jsonName[count].content[i].url %>" target="<%- jsonName[count].content[i].target %>">
                    <div class="section-tab__table">
                        <div class="section-tab__table-inner">
                            <i class="fa <%- jsonName[count].content[i].logo %> fa-3x section-tab__icon"
                               aria-hidden="true"></i>
                            <i class="fa <%- jsonName[count].content[i].pictogram %> section-tab__icon section-tab__icon-type"
                               aria-hidden="true"></i>
                            <h2 class="section-tab__title"><%- jsonName[count].content[i].title %></h2>
                            <span class="section-tab__description"><%- jsonName[count].content[i].description %></span>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</section>