<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="cz"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="cz"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="cz"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="cz"> <!--<![endif]-->


<% var json = site.data.content_cz %>

<!-- Head -->
<%- partial('_partial/head', {jsonName: json}) %>

<body>

<!-- Loader -->
<%- partial('_partial/loader') %>

<!-- Menu -->
<%- partial('_partial/menu', {jsonName: json}) %>

<div class="container" style="display: none">
    <% for (var i in site.data.content_cz){ %>
    <% var path = '_partial/'+site.data.content_cz[i].partialId %>
    <%- partial(path, {count: i, jsonName: json}) %>
    <% } %>
</div>

<!-- Youtube Player -->
<%- partial('_partial/youtube-player') %>

<!-- External Javascript -->
<%- partial('_partial/after-footer') %>

</body>

</html>